{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Qu'est ce que le SSP Lab ?
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Communauté</h1>
                
                <p> Le SSP Lab s'insère dans une communauté globale de datascientists.</p>
                <p>
                <h2>Réseaux Institutionnels</h2>
                <ul><li>Avant tout, le SSP Lab fait pleinement partie, et tente d'aider à faire vivre, le <a href = "https://ssphub.netlify.app">SSP Hub</a>. Le réseau de datascientistes du SSP s’entend comme une plateforme d’échange, d’entraide, de collaboration et de diffusion/ communication des travaux de datascience, s'appuyant notamment sur le SSP Cloud. </li>
                    <li>De façon plus générale, le SSP Lab poursuit ses liens avec le <b>BercyLab des Ministères économiques et financiers</b> en participant notamment aux différents événements organisés au sein des MEF : DataDay, BercyInnov, datadrinks, etc, ainsi qu’avec Etalab et le Lab IA.</li>
                </ul></p>
                <p>
                <h2>Réseaux Internationaux</h2></p>
                <p>Le SSP Lab s'inscrit également dans une communauté internationale. </p>
                <ul>
                    <li>Le SSP Lab représente le SSP au sein de la <b>task force trusted smart statistics </b>(ex-task force Big Data réintégrée dans le giron du Working Group Methodology) qui encadre les réseaux des INS et les travaux européens autour de l’exploration des nouvelles sources de données et des nouveaux outils de datascience pour la statistique officielle. A cette task force sont rendus compte les travaux  du Web Intelligence Hub, notamment l’ESSnet Web Intelligence Network dédié à la mobilisation sur une plateforme européenne commune des données issues du Web. Le SSP Lab participe aussi à la task force sur la téléphonie mobile lancée en janvier 2021. </li>
                    <li>Le SSP Lab participe également au <b>réseau de l’Unece HLG-MOS Machine Learning project</b>. Ce réseau sera piloté en 2022 comme en 2021 par le Data Science Campus de l’ONS. Les travaux pour 2022 sont en cours de définition. Ils s’organiseront autour des thématiques de Coding & Classification (webscraping data, methods, text classification), Modeling (modeling AIS data, spatial analysis, species distribution modeling, model assisted estimation), Imagery (satellite data and ML, methods - CNN) ainsi que des thématiques transversales Quality of training data, model re-training, base platform for ML.</li>
                    <li>Enfin, le SSP Lab échange ponctuellement avec ses homologues, et notamment Statcan.</li>
                </ul>
                </p>
                <p>
                <h2>Milieu Académique</h2>
                <p>Le SSP Lab vise également à maintenir ses liens existants avec les milieux académiques et à en établir de nouveaux. </p>
                <p>
                    <ul>
                        <li>A ce titre, différents membres du SSP Lab sont affiliés à des laboratoires de recherche. </li>
                        <li>En 2022, l’insertion dans le milieu académique passe en priorité via la <b>préparation d’une intégration de l’Insee dans la Chaire Finance Digitale</b> à l’occasion d’un prolongement de cette chaire de 4 ans acté par le GIE CB. Pour rappel, cette chaire regroupe Télécom ParisTech, l'Université Paris 2 Panthéon-Assas le groupement des cartes bancaires CB (GIE CB), la Banque postale, la Caisse des dépots et est hébergée à la Fondation du risque (Institut Louis Bachelier). L'autorité de contrôle prudentiel et de résolution (ACPR BdF) et France Fintech soutiennent la chaire. </li>
                    </ul>
                </p>
                
        </div>
    </div>
    
</div>


    {% endblock %}