{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Les évènements du SSP Lab {% endblock %}

{% block body %}


<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Evènements et Communauté</h1>
                <p>Par construction, le SSP Lab a une approche collaborative du travail, les expérimentations et autres appuis ayant vocation à être utiles à, et construits avec, une équipe métier. </p>
                <p>De façon plus générale, le SSP Lab s'inscrit dans une communauté, de datascientists comme de personnes simplement intéressées, voire désireuses d'apprendre.</p>
                <p>Plus particulièrement, le SSP Lab : 
                    <li>Fait partie d'une communauté, notamment le SSP Hub mais pas seulement</li>
                    <li>Tente de proposer différents <a href = "/seminaires">séminaires</a>...</li>
                    <li>... et des outils de <a href = "/funathon">formation</a></li>
                </p>
         </div>
    </div>
    
</div>


{% endblock %}