<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bienvenue sur le site du SSP Lab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/evenements">Agenda</a>
          </li>
          -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/que-fait-on" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Que fait le SSP Lab ?
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/pres">Présentation générale</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/expe">Expérimentations</a></li>
                <li><a class="dropdown-item" href="/explo">Explorations</a></li>
                <li><a class="dropdown-item" href="/appui">Appui méthodologique</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/que-fait-on" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Evènements et Communauté
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/evenements">Page de synthèse</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/seminaires">Séminaires</a></li>
                <li><a class="dropdown-item" href="/funathon">Funathon</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/communaute">Communauté</a></li>
              </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/lettres">Lettres Big Data</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/outils">Outils et repos</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/team">Contact</a>
          </li>
 

        </ul>
        <!--
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
      </div>
    </div>
  </nav>