{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 bg-dark text-white">
        <h5 class="card-header">A propos du blog</h5>
    <div class="card-body">
        <p class="card-text"> Ce blog présente des éléments d'intérêt, d'étonnement, ou d'informations diverses. Il est rédigé par les membres du SSP Lab (et associés).</p>
        <a href="blog"
           class="btn btn-danger">Voir tous les posts</a>
    </div>
</div>
</div>

{% endblock sidebar %}