{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 bg-dark text-white">
        <h5 class="card-header">Explorations</h5>
    <div class="card-body">
        <p class="card-text"> Les explorations consistent en l'exploration du potentiel de nouvelles données (et notamment de donnes privées) dans le cadre de la statistique publique. </p>
        <a href="expe"
           class="btn btn-danger">Voir tous les posts</a>
    </div>
</div>
</div>

{% endblock sidebar %}