{% extends 'home/base.html' %} 
{% load static %}
{% block body %}
<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
            <img src="../../../static/img/{{ exploration.image_titre }}" class="card-img-top w" alt="...">

            <h1> {{ exploration.title }} </h1>
            <p> {{ exploration.body |safe}}</p>
            <!-- 
            <p><u>Période prévue pour l'exploration : </u> {{ exploration.date_debut }} à {{ exploration.date_fin }}</p>
            <p><u> Unité métier partenaire : </u></p>
            <p><u>Output : </u></p>
            -->
        </div>
    </div>

</div>
{% endblock %}