{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Qu'est ce que le SSP Lab ?
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Communauté</h1>
                
                <p> Le SSP Lab, unité d'innovation en sciences des données de l'<a href = "www.insee.fr">Insee</a>, s'insère dans plusieurs communautés de datascience.</p>
                <p>
                <h2>Statisticiens Internationaux</h2></p>
                <ul>
                    <li><a href = "https://ec.europa.eu/eurostat/fr/">Eurostat</a> (<a href = "https://ec.europa.eu/eurostat/cros/content/item-31-big-data-and-trusted-smart-statistics_en">Task force trusted smart statistics</a>, Task force sur la téléphonie mobile) qui encadre les réseaux des instituts nationaux de statistiques et les travaux européens autour de l'exploration de nouvelles sources de données et des nouveaux outils de datascience pour la statistique officielle.</li>
                    <li><a href = "https://statswiki.unece.org/display/ML/HLG-MOS+Machine+Learning+Project">HLG-MOS Machine Learning project</a> de l'<a href = "https://unece.org/fr">Unece</a> piloté par le <a href = "https://datasciencecampus.ons.gov.uk">Data Science Campus</a> de l'<a href = "https://www.ons.gov.uk">ONS</a>.</li>
                    <li>Statistiques Canada et le <a href = "https://www.statcan.gc.ca/fr/science-donnees/reseau">réseau de la science des données pour le service public fédéral</a>, <a href = "https://www.cbs.nl/en-gb">CBS</a></li>
                </ul>
                </p>
                <p>
                <h2>Administration Publique</h2>
                    <ul><li>le <a href = "https://ssphub.netlify.app">SSP Hub</a>. Le réseau de datascientistes du Service Statistique Public (SSP) s’entend comme une plateforme d’échange, d’entraide, de collaboration et de diffusion/ communication des travaux de datascience, s'appuyant notamment sur le <a href = "https://www.sspcloud.fr">SSP Cloud</a>. </li>
                        <li><a href = "https://www.economie.gouv.fr/mission-innovation/bienvenue-au-bercylab">BercyLab</a> des Ministères économiques et financiers, <a href = "https://www.etalab.gouv.fr">Etalab</a> et le <a href = "https://www.inria.fr/fr/lab-ia-etat-transformation-numerique">Lab IA.</a></li>
                    </ul></p>
                <p>
                <h2>Collaborations académiques</h2>
                <p>
                    <ul>
                        <li><a href = "https://crest.science">CREST</a>, <a href = "https://www.ensae.fr">ENSAE</a>, <a href = "https://ensai.fr">ENSAI</a></li>
                        <li><a href = "https://www.telecom-paris.fr/fr/recherche/recherche-partenariale/les-chaires-de-recherche/finance-digitale">Chaire Finance Digitale</a></li>
                        <li><a href = "http://www.mobitic.org">Mobitic</a></li>
                    </ul>
                </p>
                
        </div>
    </div>
    
</div>


    {% endblock %}