{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Qu'est ce que le SSP Lab ?
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Funathon</h1>
                <p>
                    Le Funathon est un <u>évènement de formation</u> organisé par le SSP Lab. L'idée est simple : s'inspirer du format d'un hackathon, 
                    enlever le format compétitif, et créer ainsi un format permettant à tout agent du service statistique public et de ses partenaires proches
                    de découvrir, se confronter, pratiquer, apprendre ou se perfectionner en datascience sur un cas d'usage, dans un esprit collaboratif
                    et non compétitif.

                </p>

                <p>
                    Le Funathon vise ainsi tous les agents – du curieux débutant, à l’expert en science des données, en passant par celles 
                    et ceux qui ont déjà reçu une formation mais qui n’ont pas l’occasion de pratiquer, partant du principe que si 
                    un agent n’est pas confronté régulièrement à un cas d’utilisation de ses nouvelles connaissances, celles-ci risquent 
                    de se perdre progressivement.

                </p>
                <p>
                    La première édition du Funathon a eu lieu le 21 et 22 juin 2021 et a réuni environ 150 agents,
                    inscrits au préalable auprès de leur responsable formation et souvent réunis en équipe. Cette première édition a tourné
                    autour de l'utilisation des données d'Airbnb, 8 sujets plus ou moins guidés étant proposés, avec chaque fois 
                    des notebooks (en R et en Python) permettant d'entrer dans le sujet (l'ensemble du materiel est disponible <a href = "https://git.lab.sspcloud.fr/ssplab/2021-06-funathon">ici</a>)

                </p>
                <p>
                    <b>Pour 2022, un nouveau Funathon est en préparation ! Prévu pour les 20 et 21 juin prochains, il devrait s'inspirer du format
                    du précédent, tout en tenant compte des remarques qui nous ont été faites (plus de master class, plus de materiel guidé notamment).</b>
                </p>
        </div>
    </div>
    
</div>


    {% endblock %}