{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Qu'est ce que le SSP Lab ?
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Qu'est ce que le SSP Lab ?</h1>
                <p>Issu des réflexions de stratégie de moyen terme d’Insee-2025 et inséré au sein la Direction de Méthodologie, Coordination Statistique et Internationale, 
                    le SSP Lab est un centre de ressources et d'animation pour la recherche appliquée et le développement expérimental visant à promouvoir l’innovation 
                    et la nouveauté en matière de sources de données, de technologies et de méthodes de data science, relatives aux productions statistiques du système
                     de statistique publique (SSP). « Sponsorisé » par les services en charge de ces productions (SSM et directions métiers), le SSP Lab mène des projets 
                     expérimentaux en partenariat avec ces services. Il assure un rôle de veille et de diffusion de méthodes statistiques innovantes, anime les réseaux sur 
                     les sujets innovants en interne au SSP (directions métiers, SSM, Direction du système d'information) et fait le lien avec des partenaires extérieurs sur 
                     les champs relevant de ses compétences (laboratoires de recherche, pairs européens).
                </p>
                <p>
                    Les principales missions du SSP Lab sont les suivantes :
                    <ul>
                        <li><b>Assurer une veille technologique et diffuser les méthodes statistiques innovantes pertinentes pour la production statistique</b></li>
                        <li><b>Explorer les nouvelles sources de données, les nouvelles méthodes statistiques, les nouveaux angles d'études au travers d'expérimentations concrètes</b></li>
                    </ul>
                </p>
                <p>
                    Sur ce site internet, vous pourrez trouver : 
                    <ul>
                        <li>Les travaux en cours du SSP Lab (<a href = "/expe">Expérimentations</a>, <a href = "/explo">Explorations</a> et <a href = "/appui">Appuis Méthodologiques</a>, ainsi que l'historique des lettres Big Data</li>
                        <li>Les évènements divers organisés par le SSP Lab : séminaires, <a href = "/funathon">funathon</a></li>
                        <li>Différentes ressources pour le (futur) Data Scientist : des supports de formations, ou des ressources diverses</li>
                        <li>Le <a href = "/blog">blog</a> du SSP Lab</li>
                    </ul>
                </p>
        </div>
    </div>
    
</div>


    {% endblock %}