{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 bg-dark text-white">
        <h5 class="card-header">Expérimentations</h5>
    <div class="card-body">
        <p class="card-text"> Les expérimentations sont des projets initiés par des unités métiers dans le but d'explorer la possibilité d'améliorer leur processus de production grâce à l'utilisation de méthodes ou techniques innovantes. </p>
        <a href="expe"
           class="btn btn-danger">Voir tous les posts</a>
    </div>
</div>
</div>

{% endblock sidebar %}