{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 bg-dark text-white">
        <h5 class="card-header">A propos de ce blog</h5>
    <div class="card-body">
        <p class="card-text"> Les informations qui y sont diffusées n'engagent que les contributeurs et en aucun cas les institutions dont ils dépendent.</p>
        
    </div>
</div>
</div>

{% endblock sidebar %}