{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Lettres Big Data
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Contact</h1>
                <p>Le SSP Lab est à disposition pour toute question, demande de conseil, demande d'intervention, d'aide directe ou d'appui. </p>
                <p>Pour nous contacter, n'hésitez pas à utiliser l'adresse suivante : <a href = "mailto:ssplab@insee.fr">ssplab@insee.fr</a>
                </p>
               
        </div>
    </div>
    
</div>


    {% endblock %}